.carousel {
  max-width: 1200px;
  margin: 40px auto;
  padding: 0 16px;
}


.carousel__header {
  display: flex;
  justify-content: center;

  align-items: center;
  margin-bottom: 12px;
}

.carousel__title {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

  color: var(--color-primary);
  font-size: 30px;
  font-weight: bold;
  gap: 16px;
}

.carousel__subtitle{
  text-align: center;
  color: var(--color-text-dark);
  font-size: 15px;
  font-weight: var(--font-weight-bolder);
}


.carousel__title::before,
.carousel__title::after {
  content: '';
  flex: 1;
  height: 1.5px;
  background-color: var(--color-border);
}

.carousel__link {
  font-size: 14px;
  text-decoration: underline;
  color: #000;
}


.carousel__categories {
  display: flex;
  width: 100%;
  margin-bottom: 16px;
  flex-wrap: wrap;
}

.carousel__chip {
  flex: 1;
  text-align: center;

  text-transform: uppercase;

  padding: 10px 0;

  border: 1px solid var(--color-grey);
  border-right: none;

  font-size: 13px;
  background: var(--color-surface);

  cursor: pointer;
  transition: var(--transition);
}


.carousel__chip:last-child {
  border-right: 1px solid var(--color-grey);
}

.carousel__chip:hover {
  background: var(--color-bg-grey);
  color: var(--color-primary);
}

.carousel__chip:first-child {
  color: var(--color-primary);
  font-weight: var(--font-weight-bold);
}




.swiper {
  padding: 10px 0;
}


.swiper-button-prev,
.swiper-button-next {
  color: #000;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 20px;
  font-weight: bold;
}