.topbar {
  display: flex;
  justify-content: center;
  gap: 40px;
  padding: 8px 0;
  font-size: 12px;
  height: 32px;
}

.span-topbar-color {
  color: var(--color-primary);
  font-weight: var(--font-weight-medium);
}

.topbar-item {
  display: flex;
  align-items: center;
  gap: 8px;

  p {
    margin: 0;
    color: var(--color-grey);
  }
}